#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.taskForm {
  width: auto;
  display: flex;
  justify-content: space-around;
  place-items: center;
}

.taskForm>* {
  margin: 1rem;

}

.form-label {
  width: 20rem;

}

.form-control {
  width: 30rem;
}

.list-group-item {
  display: flex;
  text-align: left;
  place-items: center;


}



#check {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 1rem;

}

.btn {

  margin: 0 2rem;
}

#addTaskbtn {
  height: 2.5rem;
  width: 2.5rem;
}


.High{
background-color: red;
}
.Medium{
background-color: yellow;
}

.Low{
background-color: green;
}

.date{
  margin: 0 2rem;
}

.form-check-label{
  margin:0 2rem;
}
